name: Update Monkeytype Stats

on:
  schedule:
    - cron: '0 * * * *' # Runs every hour
  workflow_dispatch: # Allows manual trigger

permissions:
  contents: write

jobs:
  update-card:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Download Stats Card
        run: |
          # REPLACE 'YOUR_USERNAME' BELOW WITH YOUR ACTUAL MONKEYTYPE NAME
          curl -o monkeytype-readme.svg "https://monkeytype-readme.zeabur.app/generate-svg/Axshay_KK/serika_dark?pb=true&lb=true"

      - name: Push changes
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Update stats image
          file_pattern: 'monkeytype-readme.svg'
